body {
  background-color:#fffef2;
  margin: 0px;
  padding: 0px; 
  width: 100%;
}

h1 {
  text-align: center;
  margin-top: 52px;
  font-size: 52px;
  margin-left: 75px;
  color: white;
  text-shadow: 2px 2px gainsboro;
  z-index: 1;
  position: absolute;

}

.main-home {
  background: #4bc491;
  width: 100%;
  height: 970px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.temp-placeholder {
  color: whitesmoke;
  font-size: 30px;
  text-align: center;
}

.bot-home-div {
  width: 100%;
  height: 970px;
  background-color: #4bc491;
  display: flex;
  flex-direction: column;
  margin-top: 205px;
  margin-bottom: 205px;
}

.bot-home-div-3 {
  width: 100%;
  height: 970px;
  background-color: #4bc491;
  display: flex;
  flex-direction: column;
  margin-top: 205px;
}

.temp-h3-title {
  text-align: center;
  font-size: 30px;
}

.bot-cat-home-div {
  background-color: whitesmoke;
  margin: 0 auto;
  width: 95%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content-type-1 {
  width: 400px;
  height: 550px;
  background-color:grey;
  margin: auto;
  font-size: 35px;
  text-align: center;
}

.content-type-2 {
  width: 400px;
  height: 550px;
  background-color:grey;
  margin: auto;
  font-size: 35px;
  text-align: center;
}

.content-type-3 {
  width: 400px;
  height: 550px;
  background-color:grey;
  margin: auto;
  font-size: 35px;
  text-align: center;
}

.main-footer {
  background-color: rgb(66,66,66);
  height: 300px;
}

.main-footer-title {
  display: inline-flex;
}


/* /Side Modal/ */


@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700');
/* Configuration Parameters */
 html {
	 font-family: Roboto Slab, sans-serif;
}
.main-nav-div {
  display: flex;
}
 #hamburger {
   display: none;
}
 .menu {
   position: fixed;
	 display: block;
	 background-color: #aaa;
	 width: 0px;
	 height: 100%;
	 overflow: hidden;
   padding-top: 50px;
   z-index: 2;
	 -webkit-transition-duration: 0.2s;
	 -moz-transition-duration: 0.2s;
	 -ms-transition-duration: 0.2s;
	 -o-transition-duration: 0.2s;
	 transition-duration: 0.2s;
	 -webkit-transition-delay: 0.2s;
	 -moz-transition-delay: 0.2s;
	 -ms-transition-delay: 0.2s;
	 -o-transition-delay: 0.2s;
   transition-delay: 0.2s;
}
 .menu ul {
	 padding-left: 10px;
}
 .menu ul li {
	 font-size: 24pt;
	 padding: 10px 0;
}
 .menu ul li a {
	 text-transform: uppercase;
	 text-decoration: none;
   color: black;

}
 .menu ul li a:hover {
	 color: grey;
}
 .menuicon {
   position: fixed;
   z-index: 4;
	 top: 10px;
	 left: 10px;
	 display: block;
	 cursor: pointer;
	 height: 21px;
	 width: 25px;
}
 .menuicon span {
	 display: block;
	 top: 8px;
	 width: 25px;
	 height: 5px;
	 background-color: #000;
	 position: relative;
	 -webkit-transition-duration: 0;
	 -moz-transition-duration: 0;
	 -ms-transition-duration: 0;
	 -o-transition-duration: 0;
	 transition-duration: 0;
	 -webkit-transition-delay: 0.2s;
	 -moz-transition-delay: 0.2s;
	 -ms-transition-delay: 0.2s;
	 -o-transition-delay: 0.2s;
	 transition-delay: 0.2s;
}
 .menuicon span::after, .menuicon span::before {
	 display: block;
	 content: '';
	 position: absolute;
	 width: 25px;
	 height: 5px;
	 background-color: #000;
	 -webkit-transition-property: margin, -webkit-transform;
	 -webkit-transition-duration: 0.2s;
	 -moz-transition-duration: 0.2s;
	 -ms-transition-duration: 0.2s;
	 -o-transition-duration: 0.2s;
	 transition-duration: 0.2s;
	 -webkit-transition-delay: 0.2s, 0;
	 -moz-transition-delay: 0.2s, 0;
	 -ms-transition-delay: 0.2s, 0;
	 -o-transition-delay: 0.2s, 0;
	 transition-delay: 0.2s, 0;
}
 .menuicon span::before {
	 margin-top: -8px;
}
 .menuicon span::after {
   margin-top: 8px;
}
 #hamburger:checked ~ .menu {
   width: 450px;
}
 #hamburger:checked ~ .menuicon span {
   background-color: rgba(0, 0, 0, 0);
}
 #hamburger:checked ~ .menuicon span::before, #hamburger:checked ~ .menuicon span::after {
	 margin-top: 0px;
	 -webkit-transition-delay: 0, 0.2s;
	 -moz-transition-delay: 0, 0.2s;
	 -ms-transition-delay: 0, 0.2s;
	 -o-transition-delay: 0, 0.2s;
   transition-delay: 0, 0.2s;
}
 #hamburger:checked ~ .menuicon span::before {
	 -webkit-transform: rotate(45deg);
	 -moz-transform: rotate(45deg);
	 -ms-transform: rotate(45deg);
	 -o-transform: rotate(45deg);
   transform: rotate(45deg);
}
 #hamburger:checked ~ .menuicon span::after {
	 -webkit-transform: rotate(-45deg);
	 -moz-transform: rotate(-45deg);
	 -ms-transform: rotate(-45deg);
	 -o-transform: rotate(-45deg);
	 transform: rotate(-45deg);
}