body {
  background-color:#1f1f1f;
  margin: 0px;
  padding: 0px; 
  width: 100%;
  overflow-x: hidden;
}

h1 {
  text-align: center;
  margin-top: 52px;
  font-size: 52px;
  margin-left: 75px;
  color: white;
  text-shadow: 2px 2px gainsboro;
  z-index: 1;
  position: absolute;
}

.main-home {
  /* background: #4bc491; */
  background-color: #1f1f1f;
  width: 100%;
  height: 970px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-title-div {
  z-index: 5;
}

.main-title {
  font-size: 150px;
  margin-right: 50%;
  z-index: 5;
  margin-top: 369px;
  margin-left: 850px;
}

.temp-placeholder {
  color: whitesmoke;
  font-size: 27px;
  text-align: center;
  overflow: hidden;
  margin-top: -20px;
  margin-left: -5px;
  padding: 100px 100px;
  line-height: 2em;
}

.temp-placeholder .overlay {
  height: 103.1%;
  width: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: 2;
  background-color: #000000;
background-image: linear-gradient( hsl(0, 0%, 51%) 0%,#000000  100%);
  opacity: 0.8;
}

.bot-home-div-1 {
  width: 100%;
  height: 970px;
  display: flex;
  position: relative;
  flex-direction: column;
  margin-top: 282px;
  background: linear-gradient(
    rgba(20,20,20, .5), 
    rgba(20,20,20, .5)),url('https://images.unsplash.com/photo-1491146179969-d674118945ff?ixlib=rb-1.2.1&auto=format&fit=crop&w=3289&q=80');
  background-repeat: no-repeat center;
  background-size: cover;
  z-index: 5;
}

.bot-home-div-2 {
  width: 100%;
  height: 970px;
  display: flex;
  flex-direction: column;
  
 
  background: linear-gradient(
    rgba(20,20,20, .5), 
    rgba(20,20,20, .5)),url('https://images.unsplash.com/photo-1491146179969-d674118945ff?ixlib=rb-1.2.1&auto=format&fit=crop&w=3289&q=80');
  background-repeat: no-repeat center;
  background-size: cover;
}

.bot-home-div-3 {
  width: 100%;
  height: 970px;
  background: linear-gradient(
    rgba(20,20,20, .5), 
    rgba(20,20,20, .5)),url('https://images.unsplash.com/photo-1491146179969-d674118945ff?ixlib=rb-1.2.1&auto=format&fit=crop&w=3289&q=80');
  display: flex;
  flex-direction: column;
  
  background-repeat: no-repeat center;
  background-size: cover;
}

.temp-h3-title {
  text-align: center;
  font-size: 30px;
  color: whitesmoke;
}

.bot-cat-home-div {
  background-color: rgba(245,245,245,0.7);
  margin: 0 auto;
  width: 95%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
}

.content-type-1 {
  width: 400px;
  height: 550px;
  background-color:#ffffff;
  margin: auto;
  font-size: 35px;
  text-align: center;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content-type-2 {
  width: 400px;
  height: 550px;
  background-color:#ffffff;
  margin: auto;
  font-size: 35px;
  text-align: center;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.content-type-3 {
  width: 400px;
  height: 550px;
  background-color:#ffffff;
  margin: auto;
  font-size: 35px;
  text-align: center;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.pics1 {
  width: inherit;
}

.main-footer {
  background-color: rgb(51, 112, 59);
  height: 300px;
}

.main-footer-title {
  display: inline-flex;
  color: whitesmoke;
}


.pine-branch-1 {
  position: absolute;
  top: 515px;
  right: 45px;
  z-index: 4;
  transform: rotate(320deg);
  overflow: hidden;
}

.vine-1 {
  position: absolute;
  transform: scaleX(-1);
  z-index: 7;
  top: -34px;
  height: 1550px;
  left: -700px;
}

/* /Side Modal/ */


@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:300,400,700');
/* Configuration Parameters */
 html {
	 font-family: Roboto Slab, sans-serif;
}
.main-nav-div {
  display: flex;
}
 #hamburger {
   display: none;
}
 .menu {
   position: fixed;
	 display: block;
	 background-color: rgb(51, 112, 59);
	 width: 0px;
	 height: 100%;
	 overflow: hidden;
   padding-top: 50px;
   z-index: 9;
	 -webkit-transition-duration: 0.2s;
	 -moz-transition-duration: 0.2s;
	 -ms-transition-duration: 0.2s;
	 -o-transition-duration: 0.2s;
	 transition-duration: 0.2s;
	 -webkit-transition-delay: 0.2s;
	 -moz-transition-delay: 0.2s;
	 -ms-transition-delay: 0.2s;
	 -o-transition-delay: 0.2s;
   transition-delay: 0.2s;
}
 .menu ul {
	 padding-left: 10px;
}
 .menu ul li {
	 font-size: 24pt;
	 padding: 10px 0;
}
 .menu ul li a {
	 text-transform: uppercase;
	 text-decoration: none;
   color: white;

}
 .menu ul li a:hover {
	 color: grey;
}
 .menuicon {
   position: fixed;
   z-index: 10;
	 top: 10px;
	 left: 10px;
	 display: block;
	 cursor: pointer;
	 height: 21px;
	 width: 25px;
}
 .menuicon span {
	 display: block;
	 top: 8px;
	 width: 25px;
	 height: 5px;
	 background-color: whitesmoke;
	 position: relative;
	 -webkit-transition-duration: 0;
	 -moz-transition-duration: 0;
	 -ms-transition-duration: 0;
	 -o-transition-duration: 0;
	 transition-duration: 0;
	 -webkit-transition-delay: 0.2s;
	 -moz-transition-delay: 0.2s;
	 -ms-transition-delay: 0.2s;
	 -o-transition-delay: 0.2s;
	 transition-delay: 0.2s;
}
 .menuicon span::after, .menuicon span::before {
	 display: block;
	 content: '';
	 position: absolute;
	 width: 25px;
	 height: 5px;
	 background-color: whitesmoke;
	 -webkit-transition-property: margin, -webkit-transform;
	 -webkit-transition-duration: 0.2s;
	 -moz-transition-duration: 0.2s;
	 -ms-transition-duration: 0.2s;
	 -o-transition-duration: 0.2s;
	 transition-duration: 0.2s;
	 -webkit-transition-delay: 0.2s, 0;
	 -moz-transition-delay: 0.2s, 0;
	 -ms-transition-delay: 0.2s, 0;
	 -o-transition-delay: 0.2s, 0;
	 transition-delay: 0.2s, 0;
}
 .menuicon span::before {
	 margin-top: -8px;
}
 .menuicon span::after {
   margin-top: 8px;
}
 #hamburger:checked ~ .menu {
   width: 450px;
}
 #hamburger:checked ~ .menuicon span {
   background-color: rgba(0, 0, 0, 0);
}
 #hamburger:checked ~ .menuicon span::before, #hamburger:checked ~ .menuicon span::after {
	 margin-top: 0px;
	 -webkit-transition-delay: 0, 0.2s;
	 -moz-transition-delay: 0, 0.2s;
	 -ms-transition-delay: 0, 0.2s;
	 -o-transition-delay: 0, 0.2s;
   transition-delay: 0, 0.2s;
}
 #hamburger:checked ~ .menuicon span::before {
	 -webkit-transform: rotate(45deg);
	 -moz-transform: rotate(45deg);
	 -ms-transform: rotate(45deg);
	 -o-transform: rotate(45deg);
   transform: rotate(45deg);
}
 #hamburger:checked ~ .menuicon span::after {
	 -webkit-transform: rotate(-45deg);
	 -moz-transform: rotate(-45deg);
	 -ms-transform: rotate(-45deg);
	 -o-transform: rotate(-45deg);
	 transform: rotate(-45deg);
}





.modal {
  position: fixed;
  top: 0;
  left: 0;
  width:100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.modal-main {
  position:fixed;
  background: white;
  width: 80%;
  height: auto;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}